*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: #074173;
    height: 10vh;
    padding: 0.5rem;
}

header h1{
    display: inline-block;
    color: white;
    margin-left: 20%;
    font-size: 4rem;

}

header img{
    height: 90%;
    border-radius: 50%;
}

header nav{
    display: inline-block;
    float: right;
}

nav a{
    display: inline-block;
    width: 7rem;
    height: 2rem;
    background-color: #5DEBD7;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
}

main{
    background-color: #1679AB;
    min-height: 85vh;
    padding: 1rem;
}

main aside{
    background-color: orange;
    display: inline-block;
    height: 100%;
    border-radius: 1rem;
    width: 20%;
    padding: 1rem;
    vertical-align: top;
}

main>section{
    background-color: rgba(255, 166, 0, 0.551);
    width: 77%;
    display: inline-block;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

section h2{
    color: white;
    text-align: center;
    background-color: #074173;
    font-size: 3rem;
}

section>article{
    background-color: #5debd888;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: inline-block;
    width: 24%;
    height: 280px;
}

/* article h3,article p,article img{
    display: inline-block;
} */

#divraro div{
    width: 40%;	
    display: inline-block;
    vertical-align: top;
}

#divraro img{
    height: 80%;
    width: 50%;
}

article img{
    width: 100%;
    height: 60%;
    margin-top: 1rem;
    object-fit: cover;
}

aside article{
    background-color: orangered;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

footer{
    background-color: #C5FF95;
    height: 5vh;
    text-align: center;
}